<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User rigs</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/rigs.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<form th:action="@{/rigs/create}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Create Rig</button>
</form>

<!--/*@thymesVar id="successMessage" type="String"*/-->
<span th:utext="${successMessage}"></span>
<!--/*@thymesVar id="errorMessage" type="String"*/-->
<span th:utext="${errorMessage}"></span>
<div class="container">
    <div class="table-responsive">
        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Password</th>
                <th>Delete</th>
            </tr>
            </thead>
            <!--/*@thymesVar id="rigs" type="java.util.Set<Rig>"*/-->
            <!--/*@thymesVar id="rig" type="by.sivko.miningrigservice.models.rigs.Rig"*/-->
            <tr th:each="rig : ${rigs}">
                <td th:text="${rig.id}"></td>
                <td th:text="${rig.name}"></td>
                <td th:text="${rig.password}"></td>
                <td><a th:href="@{'/rigs/rig/'+${rig.id}+'/delete'}" class="btn btn-info" role="button">delete rig</a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>